server/http/logs/nginx-error.log
server/http/logs/stdout.log
server/http/logs/stderr.log
server/http/out/debug
server/http/out/release
server/http/deps/*/pkg
server/db/db-tools/node_modules
server/db/db-tools/dist
server/db/log/*.log
server/tmp/fake-s3
server/.zsh_history
*.DS_Store
